
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  padding: 1em;
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper > ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.wrapper > ul > li {
  list-style: none;
  margin-bottom: .7em;
}

ul .wrap_news {
  display: flex;
  flex-direction: row;
  font-size: .9rem;
}

.wrap_news .submenu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.wrap_news .submenu span {
  display: inline;
  padding-right: .7em;
}

.wrap_news .title .upvote {
  display: grid;
  place-items: center;
  margin-right: 0.5em;
}

.wrap_news .text h2 {
  font-size: 1em;
  font-weight: 400;
  margin: 0;
  margin-bottom: .2em;
}

.wrap_news .text h2 a:visited {
  color:#4f4f4f;
}

.wrap_news .text .subtext {
  font-size: .8em;
  color: #4f4f4f;
}

.wrap_news .text .subtext span {
  margin: 0 .5em;
}

.wrap_news .text .subtext span:first-child {
  margin-left: 0;
}


#best .wrapper {
  flex-direction: column;
}

#best p {
  margin: 1em 0 2em;
  margin-left: 1.4em;
}

.header {
  height: 50px;
  background-color: #ff6600d2;
}

.wrap_header {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.header .logo {
  margin-right: 2em;
  margin-left: 1.3em;
  color: #000000;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header .logo img {
  margin-right: 0.8em;
  border: 1px solid white;
}

.header .items ul {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header .items ul li {
  list-style: none;
}

@media (max-width: 576px) {
  ul .wrap_news {
    font-size: 1em;
  }
}