
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  padding: 1em;
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper > ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.wrapper > ul > li {
  list-style: none;
  margin-bottom: .7em;
}

ul .wrap_news {
  display: flex;
  flex-direction: row;
  font-size: .9rem;
}

.wrap_news .submenu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.wrap_news .submenu span {
  display: inline;
  padding-right: .7em;
}

.wrap_news .title .upvote {
  display: grid;
  place-items: center;
  margin-right: 0.5em;
}

.wrap_news .text h2 {
  font-size: 1em;
  font-weight: 400;
  margin: 0;
  margin-bottom: .2em;
}

.wrap_news .text h2 a:visited {
  color:#6b6b6b;
}

.wrap_news .text .subtext {
  font-size: .8em;
  color: #6b6b6b;
}



.wrap_news .text .subtext span:first-child {
  margin-left: 0;
}


#best .wrapper {
  flex-direction: column;
}

#best p {
  margin: 1em 0 2em;
  margin-left: 1.4em;
}

a.hover:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  ul .wrap_news {
    font-size: 1.1rem;
  }
}